* {
    font-family: Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, STXihei, SimHei, WenQuanYi Micro Hei, Droid Sans, sans-serif !important;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, p {
    padding: 0px;
    margin: 0px;
}

ul, li {
    list-style: none;
}

.gh-layout {
    width: 100%;
    min-width: 320px;
    background: #fbd570;
    overflow: hidden;
    font-family: "microsoft yahei";
}

img {
    /*vertical-align:top把元素的顶端与行中最高元素的顶端对齐,如果没有该属性，则图片之间出现间隔*/
    vertical-align: top;
    border: 0;
}

/*活动规则父元素*/
.rule {
    width: 16rem;
    /*background-color: #ffb03b;*/
}

/*活动规则内容*/
.regular {
    /*text-align:justify 实现两端对齐文本效果*/
    text-align: justify;
    width: 13.55rem;
    font-size: 0.554rem;
    margin-left: 1.5rem;
    /*padding-top: 0.64rem;*/
    /*padding-bottom: 0.73rem;*/
}

.regular li {
    font-size: 0.554rem;
    line-height: 0.7rem;
    font-family: "microsoft yahei";
    text-indent: -0.94rem;
    color: #111111;
    margin-bottom: 0.43rem;
}

.img1 {
    width: 16rem;
    height: 12.39rem;
}

.img2 {
    width: 16rem;
    height: 16.66rem;
}

.link {
    width: 16rem;
    height: 16.66rem;
    position: relative;
}

.linkUrl {
    position: absolute;
    top: 12.39rem;
    /*16-5.4-5.2=5.4*/
    left: 6.57rem;
    z-index: 5;
    width: 2.86rem;
    height: 0.94rem;
}

.img3 {
    width: 16rem;
    height: 11.264rem;
}

.img4 {
    width: 16rem;
    height: 16.28rem;
}

.img5 {
    width: 16rem;
    height: 27.22rem;
}

.img6 {
    width: 16rem;
    height: 4.95rem;
}

.img8 {
    width: 16rem;
    height: 9.13rem;
}
